.header    
    overflow: hidden  
    &__left              
        background: url('../images/bg/main_photo.jpg') (center / cover) no-repeat
        width: 50%
        transition: .5s all
        &-darken
            background: darken($darkColor, 5%) 
    &__right
        min-height: 100vh
        width: 50%
        background-color: $darkColor
        transition: .5s all
        &-darken
            background: darken($darkColor, 5%)     

    &__avatar
        display: none

    &__name
        margin: 1.2rem 0 0 0
        padding-left: 4rem
        color: $lightColor
        font-weight: 300              
        cursor: pointer
        transition: .3s all
        &:hover
            text-shadow: 1px 1px 1px $lightColor
   
    &__list
        display: flex
        justify-content: space-between
        margin: 0
        padding: 2rem 4rem
        list-style-type: none

    &__item
        position: relative
        -webkit-transition: .2s ease-in-out
        -moz--transition: .2s ease-in-out
        transition: .2s ease-in-out
        &:hover
            transform: scale(1.4)
        &:after
            background-color: $lightColor
            display: block
            content: ""
            height: 3px
            width: 0%
            left: 50%
            position: absolute
            -webkit-transition: width .4s ease-in-out
            -moz--transition: width .4s ease-in-out
            transition: width .4s ease-in-out
            -webkit-transform: translateX(-50%)
            -moz-transform: translateX(-50%)
            transform: translateX(-50%)
        &:hover:after,
        &:focus:after 
            width: 100%
        &:nth-child(1)
            display: none
            

    &__link
        color: #ffffff
        text-decoration: none
        font-size: 1.3rem    
        &:hover
            color: $lightColor
            text-decoration: none

    &__description
        margin: 6rem 0 0 8rem

        &__title
            color: $lightColor
            font-size: 2rem

        &__name
            color: #ffffff
            font-size: 3.7rem

        &__info            
            font-size: 1.05rem
            color: #ffffff
            padding-right: 4.8rem

    &__description-hidden
        display: none
    
    .hamburder
        display: none

    