.projects
    background: $darkColor
    width: 100%
    min-height: 1000px
    padding: 0rem 5rem 9rem 5rem
    transform: skewY(-3deg) translateY(-100px)
    
    &__title        
        color: $lightColor
        transform: skewY(3deg) translateY(100px)
    &__list
        width: 100%
        list-style-type: none
        padding: 0
        margin: 3.3rem 0 5rem 0
        display: flex
        flex-wrap: wrap
        justify-content: center
        transform: skewY(3deg) translateY(100px)
    &__item
        width: 26rem
        height: 19rem
        margin: 1.5rem 1rem
        border: 2px solid#e2e2e2
        border-radius: 1rem
        box-sizing: border-box
        overflow: hidden 

    &__image           
        width: 100%
        height: 100%
        transition: .6s all
        cursor: pointer
        display: flex
        justify-content: center 
        transform: scale(1.3)
                        
        &:hover           
            position: relative
            transform: scale(1)
            &:after
                display: block
                content: ''
                position: absolute
                width: 100%
                height: 100%
                top: 0
                background: rgba(34, 35, 35, .9)        
                
            .btn-block, .description
                display: block

    .uber
        background: url('../images/projects/uber.jpg') (center / cover) no-repeat
    .run_smart
        background: url('../images/projects/runSmart.jpg') (center / cover) no-repeat
    .moment
        background: url('../images/projects/moment.jpg') (center / cover) no-repeat
    .online_store
        background: url('../images/projects/online_store.jpg') (center / cover) no-repeat
    .car_showroom
        background: url('../images/projects/car_showroom.jpg') (center / cover) no-repeat
    .clock
        background: url('../images/projects/clock.jpg') (center / cover) no-repeat
    .todo-list
        background: url('../images/projects/todo-list.jpg') (center / cover) no-repeat

    .description
        width: 80%
        margin: 0 auto
        margin-top: 4rem
        font-size: 1.2rem
        text-align: center
        z-index: 2
        color: #fff
        display: none

    .btn-block
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-28%, 50%)
        z-index: 2
        display: none
        

    .view-site, .view-git        
        height: 2.5rem        
        margin: .4rem
        font-size: 1rem
        transition: .6s all
        
        &:hover
            background-color: transparent
            color: #ffffff