.projects
    background: $darkColor
    width: 100%
    min-height: 1000px
    padding: 0rem 5rem 9rem 5rem
    transform: skewY(-3deg) translateY(-100px)
    
    &__title        
        color: $lightColor
        transform: skewY(3deg) translateY(100px)
    &__list
        width: 100%
        list-style-type: none
        padding: 0
        margin: 3.3rem 0 0 0
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        transform: skewY(3deg) translateY(100px)
    &__item        
        width: 48%
        height: 19rem
        margin-top: 3rem
        border: 2px solid#e2e2e2
        border-radius: 1rem
        box-sizing: border-box
        overflow: hidden        

    &__image           
        width: 100%
        height: 100%
        transition: .3s all
        cursor: pointer
        display: flex
        justify-content: center 
                        
        &:hover           
            position: relative
            &:after
                display: block
                content: ''
                position: absolute
                width: 100%
                height: 100%
                top: 0
                background: rgba(34, 35, 35, .9)        
                
            .btn-block, .description
                display: block

    .uber
        background: url('../images/projects/uber.jpg') (center / cover) no-repeat
    .run-smart
        background: url('../images/projects/runSmart.jpg') (center / cover) no-repeat
    .moment
        background: url('../images/projects/moment.jpg') (center / cover) no-repeat

    .description
        width: 80%
        margin: 0 auto
        margin-top: 5rem
        font-size: 1.2rem
        text-align: center
        z-index: 2
        color: #fff
        display: none

    .btn-block
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-28%, 50%)
        z-index: 2
        display: none
        

    .view-site, .view-git        
        height: 3rem        
        margin: .4rem
        font-size: 1.2rem
        transition: .6s all
        
        &:hover
            background-color: transparent
            color: #ffffff